<!DOCTYPE html>
<html class="emuos theme-windows-95" lang="en-us" prefix="og: http://ogp.me/ns/website#">
	<!--


	╔═╗╔╦╗╦ ╦╔═╗╔═╗╔╦═╗╦╔═╗
	╠═ ║║║║ ║╠═╝╠═  ║ ║║╠═╣
	╚═╝╩ ╩╚═╝╩  ╚═╝═╩═╝╩╩ ╩


	-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<title>EmuOS</title>
		<!--<link type="text/css" rel="stylesheet" href="../../styles/css/libraries/jquery-ui.structure-1.12.1.min.css" />-->
		<!--<link type="text/css" rel="stylesheet" href="../../styles/css/libraries/jquery-ui.theme-1.12.1.min.css" />-->

		<link type="text/css" rel="stylesheet" href="../../styles/css/libraries/jquery-ui.structure-1.11.4.min.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/libraries/jquery-ui.theme.basic-1.11.4.min.css" />

		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/reset.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/fonts.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/desktop.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/taskbar.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/window.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/label.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/overlay.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/tree.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/basic/menu.css" />

		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/reset.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/cursors.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/scrollbar.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/menu.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/desktop.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/window.css" />
		<link type="text/css" rel="stylesheet" href="../../styles/css/themes/windows-95/taskbar.css" />
	</head>
	<body>
		<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable emuos-window emuos-window-top" style="position: fixed; top: 10px; left: 10px; height: 165px; width: 340px; display: block; z-index: 100;" role="dialog" aria-describedby="ui-id-387" aria-labelledby="ui-id-388" id="ui-id-389" data-taskbar-uuid="0">
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle ui-state-active emuos-window-titlebar-icon"><span style="background-image: url(../../images/icons/desktop/notepad.ico); background-repeat: no-repeat; background-position: center center; background-size: cover;" class="ui-icon emuos-window-icon"></span><span id="ui-id-388" class="ui-dialog-title" style="width: 208px;">Notepad</span>
				<button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-dialog-titlebar-close ui-button-icon-only" role="button" title="Close" data-button-name="close" data-button-order="0"><span class="ui-button-icon-primary ui-icon ui-icon-closethick emuos-window-titlebar-button-icon"></span><span class="ui-button-text emuos-window-titlebar-button-icon">Close</span></button>
				<button class="ui-button ui-widget ui-state-default ui-corner-all emuos-window-button-minimize emuos-window-button ui-button-icon-only" role="button" data-button-name="minimize" title="Minimize" data-button-order="1"><span class="ui-button-icon-primary ui-icon ui-icon-minusthick emuos-window-titlebar-button-icon"></span><span class="ui-button-text emuos-window-titlebar-button-icon">Minimize</span></button>
				<button class="ui-button ui-widget ui-state-default ui-corner-all emuos-window-button-maximize-restore emuos-window-button ui-button-icon-only" role="button" data-button-name="maximize" title="Maximize" data-button-order="2"><span class="ui-button-icon-primary ui-icon ui-icon-arrow-4-diag emuos-window-titlebar-button-icon"></span><span class="ui-button-text emuos-window-titlebar-button-icon">Maximize</span></button>
				<button class="ui-button ui-widget ui-state-default ui-corner-all emuos-window-button-help emuos-window-button ui-button-icon-only" role="button" data-button-name="help" title="About" data-button-order="3"><span class="ui-button-icon-primary ui-icon ui-icon-help emuos-window-titlebar-button-icon"></span><span class="ui-button-text emuos-window-titlebar-button-icon">About</span></button>
				<button class="ui-button ui-widget ui-state-default ui-corner-all emuos-window-button-fullscreen emuos-window-button ui-button-icon-only" role="button" data-button-name="fullscreen" title="Fullscreen" data-button-order="4"><span class="ui-button-icon-primary ui-icon ui-icon-arrow-4-diag emuos-window-titlebar-button-icon"></span><span class="ui-button-text emuos-window-titlebar-button-icon">Fullscreen</span></button>
			</div>
			<div class="iframe menu ui-dialog-content ui-widget-content emuos-window-content" data-title="Notepad" id="ui-id-387" style="width: auto; height: 146px; max-height: 146px;">
				<ul class="menu-items">
					<li><button>Home</button></li>
					<li><button>Front End Design</button>
						<ul>
							<li><span>H<u>T</u>ML</span></li>
							<li class="dot child"><span>CSS</span>
								<ul>
									<li><span>Resets</span></li>
									<li><span>Grids</span></li>
									<li class="child"><span>Frameworks</span>
										<ul>
											<li><span>Ajax</span></li>
											<li><span>jQuery</span></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="child"><span>JavaScript</span>
								<ul>
									<li><span>Ajax</span></li>
									<li><span>jQuery</span></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><button>WordPress Development</button>
						<ul>
							<li><span>Themes</span></li>
							<li><span>Plugins</span></li>
							<li class="child"><span>Custom Post Types</span>
								<ul>
									<li><span>Portfolios</span></li>
									<li><span>Testimonials</span></li>
								</ul>
							</li>
							<li><span>Options</span></li>
						</ul>
					</li>
					<li><button>About Us</button></li>
				</ul>
			</div>
			<div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
		</div>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		asd
	</body>
</html>